:root {
  --sapiensYellow: #ffd900;
  --sapiensBlue: #0052bd;
  --lightYellow: #ffea71;
  --lightBlue: #44c0ff;
  --deepBlue: #003881;
  --textColor: #73717a;
  --textColorDark: #484652;
  --accentGreen: #43902e;
  --borderColor: #d6d6d6;
}

$mobileScreen: 650px;
$smallScreen: 900px;

* {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--sapiensYellow);
  color: var(--textColor);
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 60px;
  padding-bottom: 15px;
  border-bottom: solid 1px var(--borderColor);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95vw;
  max-width: 1230px;
}

.app-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60px;
  background-color: var(--sapiensYellow);

  & .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 5px;
    width: 112px;
    height: 30px;
    background: url('assets/logo.svg') center center no-repeat;
    cursor: pointer;
  }

  &__menu {
    flex-grow: 1;
    margin-left: 5vw;
  }

  & li {
    display: inline-block;
    color: var(--sapiensBlue);
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    transition: all color 0.3s ease;

    &:hover {
      background: var(--sapiensBlue);
      color: white;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }

  &__policies-button {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.2px;
    background: var(--sapiensBlue);
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.3s ease;

    &::after {
      content: 'Back to your policies';
    }

    &:hover::after {
      content: 'â† Back to your policies';
    }
  }
}

.app-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 60px;
  background: white;

  &__top {
    display: flex;
    justify-content: center;
    height: 65px;
    width: 100vw;
    box-sizing: border-box;
    background: #f9f9f9;
    border-bottom: solid 1px var(--borderColor);
  }

  &__tab-links {
    display: flex;
    flex-wrap: nowrap;
    max-width: 90vw;
  }

  &__tab-link {
    display: inline-block;
    white-space: pre;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.2px;
    height: 65px;
    margin-right: 30px;
    padding-top: 25px;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      color: var(--sapiensBlue);
      border-bottom: solid 4px var(--sapiensBlue);
    }

    &:hover {
      color: var(--sapiensBlue);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding-top: 62px;
    max-width: 810px;
  }
}

.insurance-block {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;

  & img {
    width: 60px;
    height: 60px;
  }

  & h3,
  & h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--textColorDark);
  }

  & h4 {
    font-size: 16px;
  }

  &__head {
    display: flex;
    padding-bottom: 18px;
    border-bottom: solid 1px var(--borderColor);

    &__left {
      width: 60px;
      height: 60px;
      background: url('assets/car.png') center center no-repeat;
      background-size: contain;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  & p.overflow {
    text-overflow: ellipsis;
  }

  &__details {
    display: flex;
    margin-top: 20px;

    &__block {
      flex-grow: 1;
    }
  }
}

.nota-bene {
  display: flex;
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px var(--borderColor);

  &__icon {
    width: 65px;
    height: 65px;
    background: url('assets/info.png') center center no-repeat;
    background-size: contain;
    background-position-y: top;
  }

  &__right {
    padding: 8px 0 8px 20px;
  }

  & h3 {
    font-size: 20px;
    font-weight: 600;
  }

  & .info-link {
    color: var(--sapiensBlue);
    font-weight: 700;
    border-bottom: dotted 1px var(--sapiensBlue);
    transition: background-color 0.1s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--sapiensYellow);
    }
  }
}

.changes-form {
  display: flex;
  flex-direction: column;
  & h3 {
    margin-bottom: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 45px;
  }

  & input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  // & input:checked {
  //   opacity: 1;
  // }

  &__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--borderColor);
    cursor: pointer;

    &__button {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 20px 20px 5px 0;
      border-radius: 50%;
      border: 1px solid #aaa;
    }

    &.active-grid-item {
      padding: 19px;
      border: 2px solid var(--accentGreen);
      box-shadow: 0px 0px 5px #ddd;
    }

    &:hover {
      box-shadow: 0px 0px 8px #ddd;
    }

    &.active-grid-item > &__button::before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      background: var(--accentGreen);
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &__button::after {
      content: 'Unselected';
      display: block;
      position: absolute;
      font-size: 18px;
      color: #aaa;
      top: 50%;
      left: 140%;
      transform: translateY(-50%);
    }

    &.active-grid-item > &__button::after {
      content: 'Selected';
      display: block;
      position: absolute;
      font-size: 18px;
      top: 50%;
      left: 140%;
      color: var(--accentGreen);
      transform: translateY(-50%);
    }
  }
}

p.when {
  max-width: 520px;
  margin: -10px 0 20px;
}

// Only works on Chrome currently (would require custom solutions for different browsers)
input[type='date'] {
  width: 290px;
  border-radius: 5px;
  border: 2px solid #bbb;

  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field,
  &::-webkit-datetime-edit-month-field {
    color: #aaa;
    font-size: 32px;
    text-transform: uppercase;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    height: 100%;
    padding: 0 15px;
  }

  &::-webkit-calendar-picker-indicator {
    padding: 18px 12px;
    border-left: 2px solid #bbb;
    background: url('./assets/calendar.png') center center no-repeat;
    background-size: 50%;
    cursor: pointer;
  }
}

.primary-btn {
  width: 165px;
  height: 55px;
  box-sizing: border-box;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  color: var(--sapiensBlue);
  background-color: var(--sapiensYellow);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.app-footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100px;
  padding: 20px 0;
  background: #333;
  color: #a0a0a0;

  & ul {
    display: flex;
    max-width: 810px;
    margin-top: 40px;

    & li {
      display: inline-block;
      margin-right: 30px;
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid #a0a0a0;
      }
    }
  }
}

@media only screen and (max-width: $smallScreen) {
  .app-navbar {
    & li {
      padding: 20px 8px;
    }
    &__policies-button {
      font-size: 16px;
      padding: 0 10px;
    }
  }
  .changes-form {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: $mobileScreen) {
  .app-navbar {
    & .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__menu {
      display: none;
    }

    &__policies-button {
      display: none;
    }
  }

  .app-contents {
    &__main {
      padding-top: 22px;
    }
  }

  .insurance-block {
    &__details {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      &__block {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .changes-form {
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      margin-bottom: 45px;
    }
  }

  .app-footer {
    & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 10px;
      & li {
        padding: 6px 0;

        &:hover {
          border: none;
        }
      }
    }
  }
}
